html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
  text-align: center;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a.btn {
  display: inline-block;
}

.btn {
  color: #fff;
  background-color: #333;
  display: inline-block;
}

.btn:hover {
  color: #fff;
  background-color: #000;
}

.btn-subtle {
  color: #fff;
  background-color: #ccc;
}

.btn-subtle:hover {
  color: #fff;
  background-color: #666;
}

.btn-ghost {
  color: #333;
}

.btn-ghost:hover {
  color: #fff;
  background-color: #666;
  border: 3px solid #666;
}

.btn-warning {
  color: #fff;
  background-color: #f33;
}

.btn-warning:hover {
  color: #fff;
  background-color: #933;
}

.btn1 {
  font-size: 1.125rem;
}

.btn-small {
  font-size: 0.875rem;
  margin: 0.25em;
}

.btn-big {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  padding: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: .4em;
  display: inline-block;
  margin: .4em;
}
